@model IEnumerable<IAmOpen.Model.Models.Institution>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IconPath
        </th>
        <th>
            CreatedDLC
        </th>
        <th>
            CoordinatesX
        </th>
        <th>
            CoordinatesY
        </th>
        <th>
            UserID
        </th>
        <th>
            Status
        </th>
        <th>
            State
        </th>
        <th>
            Rating
        </th>
        <th>
            Chain
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IconPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDLC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoordinatesX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoordinatesY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chain.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
